<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>BenjyCUi|Cherish What You Have Got</title>
	<link rel="stylesheet" href="media/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="media/bootstrap/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="media/styles/index.css">
</head>
<body>
	<header role="banner">
		<section id="logo"><a href="index.html">
			<strong>Benjy</strong>
			<p>Cherish What You Have Got</p>
		</a></section>

		<nav role="navigation">
			<ul class="clearfix">
				<li><a class="home" href="index.html">Home</a></li>
				<li><a class="rss" href="">RSS</a></li>
				<li><a class="info" href="">About Me</a></li>
			</ul>
		</nav>
	</header>

	<ul role="main">
		{{ content }}
	</ul>
	
	<footer>
		&copy;Benjy Cui
	</footer>
	
	<script scr="media/scripts/jquery.js"></script>
	<script src="media/bootstrap/js/bootstrap.min.js"></script>
	<script src="media/scripts/site.js"></script>
</body>
</html>