<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}|BenjyCUi</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/benjycui/media/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/benjycui/media/bootstrap/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="/benjycui/media/styles/index.css">
</head>
<body>
	<header role="banner">
		<section id="logo"><a href="index.html">
			<strong>Benjy</strong>
			<p>Cherish What You Have Got</p>
		</a></section>

		<nav role="navigation">
			<ul class="clearfix">
				<li><a class="home" href="index.html">Home</a></li>
				<li><a class="rss" href="">RSS</a></li>
				<li><a class="info" href="">About Me</a></li>
			</ul>
		</nav>
	</header>

	{{ content }}
	
	<footer>
		&copy;Benjy Cui
	</footer>
	
	<script scr="/benjycui/media/scripts/jquery.js"></script>
	<script src="/benjycui/media/bootstrap/js/bootstrap.min.js"></script>
	<script src="/benjycui/media/scripts/site.js"></script>
</body>
</html>